Package: lithium
Name: Lithium
Depends: mobilesubstrate, preferenceloader, firmware (>= 7.0)
Version: 0.9.4
Architecture: iphoneos-arm
Description: Lightweight battery icon themes (beta)
Maintainer: Constance Bello <me@constancebello.dev>
Author: Constance Bello <me@constancebello.dev>
Section: Tweaks
Conflicts: com.fortysixandtwo.alkaline
Provides: lithium
Depiction: http://aarzee.me/cydia/depiction.php?package=lithium
